@{
    ViewData["Title"] = "Home Page";

}

<h2>@ViewData["Title"]</h2>
<p>The page will redirect to the new page automatically.</p>

<script>
    // Redirects automatically when the page loads

    window.location.href = '@Url.Action("New", "Home", new { signedin = "true" })';

</script>
