@model UpdateTimeOff

<form asp-action="zohoUpdate">

    <input asp-for="startDate" />
    <input asp-for="endDate" />
    <input asp-for="Description" />

    <button type="submit">submit</button>

</form>

